network:
  openunison_host: "k8sou.apps.domain.int"
  dashboard_host: "k8sdb.apps.domain.int"
  api_server_host: "k8sapi.apps.domain.int"
  session_inactivity_timeout_seconds: 900
  k8s_url: https://k8s-installer-master.tremolo.lan:6443
  force_redirect_to_tls: true
  createIngressCertificate: true
  ingress_type: nginx
  ingress_certificate: ou-tls-certificate
  ingress_annotations: {}
  istio:
    selectors:
      istio: ingressgateway
  traefik:
    secure: true
    entrypoints:
      plaintext: web
      tls: websecure
  kong: {}

precheck:
  image: ghcr.io/tremolosecurity/python-slim-nonroot/python3:1.0.0

cert_template:
  ou: "Kubernetes"
  o: "MyOrg"
  l: "My Cluster"
  st: "State of Cluster"
  c: "MyCountry"

image: "ghcr.io/openunison/openunison-k8s:1.0.44"
amq_image: "ghcr.io/tremolosecurity/activemq-docker:5.18.4"
myvd_config_path: "WEB-INF/myvd.conf"
k8s_cluster_name: kubernetes
enable_impersonation: true
myvd_configmap: myvd
cert_update_image: "ghcr.io/openunison/openunison-kubernetes-operator:1.0.7"

headlamp:
  enabled: true
  service_name: headlamp
  cert_name: headlamp-tls
  image: ghcr.io/headlamp-k8s/headlamp:v0.39.0
  config:
    enableHelm: true
  pluginConfig:
    enabled: false
  pluginsManager:
    enabled: false
    baseImage: node:lts-alpine
    version: latest

dashboard:
  namespace: "kubernetes-dashboard"
  cert_name: "kubernetes-dashboard-certs"
  label: "k8s-app=kubernetes-dashboard"
  new_label: "app.kubernetes.io/part-of=kubernetes-dashboard"
  service_name: kubernetes-dashboard
  auth_service_name: kubernetes-dashboard-auth
  api_service_name: kubernetes-dashboard-api
  web_service_name: kubernetes-dashboard-web
  enabled: false
certs:
  use_k8s_cm: false

trusted_certs: []

operator:
  legacy: false


#active_directory:
#  base: cn=users,dc=ent2k12,dc=domain,dc=com
#  host: "192.168.2.75"
#  port: "636"
#  bind_dn: "cn=Administrator,cn=users,dc=ent2k12,dc=domain,dc=com"
#  con_type: ldaps
#  srv_dns: "false"

database:
  hibernate_dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  quartz_dialect: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
  driver: com.mysql.jdbc.Driver
  url: jdbc:mysql://dbs.tremolo.lan:3308/unison
  user: root
  validation: SELECT 1

smtp:
  host: smtp.gmail.com
  port: 587
  user: donotreply@domain.com
  from: donotreply@domain.com
  tls: true

monitoring:
  prometheus_service_account: system:serviceaccount:monitoring:prometheus-k8s

impersonation:
  use_jetstack: true
  jetstack_oidc_proxy_image: ghcr.io/tremolosecurity/kube-oidc-proxy:1.0.11
  explicit_certificate_trust: true
  ca_secret_name: ou-tls-certificate

network_policies:
  enabled: true
  ingress:
    enabled: true
    labels: []
  monitoring:
    enabled: true
    labels: []
  apiserver:
    enabled: false
    labels: []
  namespace_label: kubernetes.io/metadata.name

services:
  enable_tokenrequest: false
  token_request_audience: api
  token_request_expiration_seconds: 600
  tolerations: []
  node_selectors: {}
  pullSecret: ""
  liveness_probe:
  - /usr/local/openunison/bin/check_alive.sh
  - "https://127.0.0.1:8443/auth/idp/k8sIdp/.well-known/openid-configuration"
  - "issuer"
  - "https://127.0.0.1:8443/check_alive"
  - "alive"
  readiness_probe:
  - /usr/local/openunison/bin/check_alive.sh
  - "https://127.0.0.1:8443/auth/idp/k8sIdp/.well-known/openid-configuration"
  - "issuer"
  - "https://127.0.0.1:8443/check_alive"
  - "alive"
openunison:
  kubeAuth:
    enabled: true
  auto_timestamp: true
  enable_pre_check: true
  amq:
    enabled: true
    pvc: {}
  secret_ext: ""
  apps: []
  replicas: 1
  non_secret_data: {}
  env: {}
  secrets: []
  imagePullPolicy: Always
  html:
    image: ghcr.io/openunison/openunison-k8s-html:1.0.1
    prefix: ouhtml
  portal_release_name: orchestra-login-portal
  enable_provisioning: false
  enable_activemq: true
  precheck:
    image: ghcr.io/tremolosecurity/python-slim-nonroot/python3:1.0.0
  management_proxy:
    enabled: false
  queue:
    max_producers: 2
    connection_factory: com.tremolosecurity.provisioning.amq.AmqSingleKeyProvider
    max_consumers: 1
    max_sessions_per_connection: 10
    task_queue_name: "openunisuron-tasks-{x}"
    smtp_queue_name: "openunison-smtp"
    encryption_key_name: "session-unison"
    num_queues: 6
    multi_task_queues: true
    keep_alive_millis: 60000
    params:
      - name: brokerURL
        source_type: static
        value: "failover:(ssl://amq.openunison.svc:61616,ssl://amq-backup.openunison.svc:61616)?initialReconnectDelay=10000"
      - name: keyAlias
        source_type: static
        value: "amq-client"
      - name: trustAlias
        source_type: static
        value: "amq-server"
  keys: []
  naas:
    groupsFromMyVD: false
    forms:
      new_namespace:
        use_default: true
    workflows:
      new_namespace:
        use_default: true
    groups:
      default:
      - name: administrators
        bindings:
          - type: ClusterRole
            binding: admins
            name: admin
        description: Manage kubernetes namespace $cluster$ $nameSpace$
        workflow:
          label: "namespace administrator"
          displayLabel: $name$ Administrator
          emailTemplate: Approve administrator access to $cluster$ $name$
          approvalLabel: Approve administrator access for $cluster$ - $name$
          userNotification:
            subject: Admin access to $cluster$ $name$ approved
            message: Your access has been approved
          org:
            label: Administrators
            description: Namespace Administrators
        external:
          fieldName: adminGroup
          label: "Administrator Group"
          errorMessage: "Invalid administrator group"
      - name: viewer
        description: View kubernetes namespace $cluster$ $nameSpace$
        bindings:
          - type: ClusterRole
            binding: viewers
            name: view
        external:
          fieldName: viewerGroup
          label: "Viewer Group"
          errorMessage: "Invalid viewer group"
        workflow:
          label: "namespace viewer"
          displayLabel: $name$ Viewer
          emailTemplate: Approve viewer access to $cluster$ $name$
          approvalLabel: Approve viewer access for $cluster$ - $name$
          userNotification:
            subject: View access to $cluster$ $name$ approved
            message: Your access has been approved
          org:
            label: Viewers
            description: Namespace Viewers
      internal:
        enabled: true
        suffix: "-internal"
        isolateRequestAccess:
          enabled: false
          azRules: []
      external:
        suffix: "-external"
        enabled: false
        admin_group: "CN=openunison-admins,CN=Users,DC=ent2k12,DC=domain,DC=com"
        cluster_admin_group: "CN=k8s_login_ckuster_admins,CN=Users,DC=ent2k12,DC=domain,DC=com"
        approversGroup: approvers
      
