{{ if eq .Values.network.ingress_type "traefik" }}
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: reencrypt
  namespace: {{ .Release.Namespace }}
spec:
  insecureSkipVerify: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: https-openunison-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
    - {{ .Values.network.traefik.entrypoints.tls }}
  tls:
    secretName: ou-tls-certificate
  routes:
    - match: Host(`{{ .Values.network.openunison_host }}`)
      kind: Rule 
      services:
        - name: openunison-{{ .Release.Name }}
          port: 443
          scheme: https
          serversTransport: reencrypt
          sticky:
            cookie:
              secure: true 
              httpOnly: true 
              sameSite: "none"
    {{- $root := . -}}
    {{ range $app := $root.Values.openunison.apps }}
    - match: Host(`{{ (urlParse $app.badgeUrl).host }}`)
      kind: Rule 
      services:
        - name: openunison-{{ $root.Release.Name }}
          port: 443
          scheme: https
          serversTransport: reencrypt
          sticky:
            cookie:
              secure: true 
              httpOnly: true 
              sameSite: "none"
    {{ end }}
    {{ if .Values.dashboard.enabled }}
    - match: Host(`{{ .Values.network.dashboard_host }}`)
      kind: Rule 
      services:
        - name: openunison-{{ .Release.Name }}
          port: 443
          scheme: https
          serversTransport: reencrypt
          sticky:
            cookie:
              secure: true 
              httpOnly: true 
              sameSite: "none"
    {{ end }}
    {{ if eq .Values.enable_impersonation true }}
    - match: Host(`{{ .Values.network.api_server_host }}`)
      kind: Rule 
      services:
        {{ if eq .Values.impersonation.use_jetstack true }}
        - name: kube-oidc-proxy-{{ .Release.Name }}
        {{ else }}
        - name: openunison-{{ .Release.Name }}
        {{ end }}
          port: 443
          scheme: https
          serversTransport: reencrypt
    {{ end }}

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: {{ .Release.Namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
    port: "443"

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: http-{{ .Release.Name }}-redirect-to-https
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
    - {{ .Values.network.traefik.entrypoints.plaintext }}
  routes:
    - match: Host(`{{ .Values.network.openunison_host }}`)
      kind: Rule 
      services:
        - name: openunison-{{ .Release.Name }}
          port: 80
      middlewares:
        - name: redirect-https
          namespace: {{ .Release.Namespace }}
    {{- $root := . -}}
    {{ range $app := $root.Values.openunison.apps }}
    - match: Host(`{{ (urlParse $app.badgeUrl).host }}`)
      kind: Rule 
      services:
        - name: openunison-{{ $root.Release.Name }}
          port: 80
      middlewares:
        - name: redirect-https
          namespace: {{ $root.Release.Namespace }}
    {{ end }}
    {{ if .Values.dashboard.enabled }}
    - match: Host(`{{ .Values.network.dashboard_host }}`)
      kind: Rule 
      services:
        - name: openunison-{{ .Release.Name }}
          port: 80
      middlewares:
        - name: redirect-https
          namespace: {{ .Release.Namespace }}
    {{ end }}
{{ end }}