cicd_proxy:
  image: ghcr.io/tremolosecurity/kube-oidc-proxy:1.0.10
  replicas: 1
  explicit_certificate_trust: false
  imagePullPolicy: Always
  oidc:
    claims:
      user: sub
  network:
    ingress_type: nginx
    ingress_annotations: []
    traefik:
      secure: true
      entrypoints:
        plaintext: web
        tls: websecure
    istio:
      selectors: {}
    secure_from_ingress: true
    network_policies:
      enabled: false
      ingress:
        labels: {}
  services:
    enable_tokenrequest: false
    node_selectors: {}
  impersonation: {}
