# If set to true the CRDs will be deployed.  Otherwise the CRs are ignored.
crd:
  deploy: true
  betas: false
  webhooks: true

services:
  tolerations: []
  node_selectors: {}
  pullSecret: ""



operator:
  image: ghcr.io/openunison/openunison-kubernetes-operator:1.0.7
  validators: []
  mutators: []
  imagePullPolicy: Always
  resources:
    requests:
      memory: 200Mi
      cpu: 0.3
    limits:
      memory: 200Mi
      cpu: 1.0


  